@media only screen and (max-width: 846px) {
  .WallsInputs-main-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 530px) {
  .WallsInputs-main-wrapper {
    gap: 0.2em;
    padding: 0.2em;
    width: 95%;
  }
}